<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginProcess</servlet-name>
        <servlet-class>com.server.controller.LoginProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedBack</servlet-name>
        <servlet-class>com.server.controller.AddFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffViewStudentAnswer</servlet-name>
        <servlet-class>com.server.controller.staffViewStudentAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreFeedbackServlet</servlet-name>
        <servlet-class>com.server.controller.StoreFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffViewStudentAnswer2</servlet-name>
        <servlet-class>com.server.controller.staffViewStudentAnswer2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffEditAvailFeedBack</servlet-name>
        <servlet-class>com.server.controller.staffEditAvailFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffRegister</servlet-name>
        <servlet-class>com.server.controller.staffRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginProcess</servlet-name>
        <url-pattern>/LoginProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreFeedbackServlet</servlet-name>
        <url-pattern>/StoreFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedBack</servlet-name>
        <url-pattern>/AddFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffViewStudentAnswer</servlet-name>
        <url-pattern>/staffViewStudentAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffViewStudentAnswer2</servlet-name>
        <url-pattern>/staffViewStudentAnswer2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffEditAvailFeedBack</servlet-name>
        <url-pattern>/staffEditAvailFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffRegister</servlet-name>
        <url-pattern>/staffRegister</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>staffAddFeedBack.jsp</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
